.header {
    background:palegoldenrod;
    height: 12vh
}

.afc-prompt {
    font-size: 3vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 0;
    position: relative;
}

#split-afc {
    position: relative;
    height: 88vh;
    width: 50%; 
}

.left {
    float: left;
}

.right {
    float: right;
}  