.header {
    background:palegoldenrod;
    height: 12vh
}

.rating-prompt {
    font-size: 1.25em;
    text-align: center;
    margin-top: 0;
    position: relative;
}

#split-rating {
    position: relative;
    height: 88vh;
    width: 50%; 
}

.rangeslider-horizontal {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 20vh;
}

.rangeslider-horizontal .rangeslider__fill {
    background-color: #1e88e5;
}

.sliderticks {
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
}

.sliderticks p {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1px;
    background: black;
    height: 10px;
    line-height: 40px;
    margin: 0 20px 0 0;
}