.header {
    background:palegoldenrod;
    height: 12vh
}

.rating-prompt {
    font-size: 1.25em;
    text-align: center;
    margin-top: 0;
    position: relative;
}

#split-rating {
    position: relative;
    height: 88vh;
    width: 50%; 
}

#submit-rating {
    min-height: 3vh;
    min-width: 3vw;
    background-color:rgb(238, 138, 168);
    font-size: 3vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}